h2{
    color:aliceblue;
}

img{
    border-radius: 10px;
}
.main-div-Events{
 text-shadow: none;
}
body{
    background-image: url(https://wallpapers.com/images/high/brawl-stars-brawl-ball-xulk7ybhcmyssmzv.webp);
    background-size: cover;
}